html
{margin: 200px}
.cls-1{fill:#f5e0cd;}
.cls-2,
.cls-3{fill:#ea3968;}
.cls-3{stroke:#ea3968;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.25px;}
.hair{fill:#605454;}
.hair1
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair2
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair3
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair4
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair5
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair6
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair7
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair8
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair9
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair10
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair11
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair12
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair13
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}
 .hair14
   {cursor: pointer;
    transition: all 0.5s;
    opcaity: 0;}